<a href="https://colab.research.google.com/github/saleemshad/PythonBeginners/blob/main/Pattern_drawing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Drawing patterns in python

Draw a pttern of triangle with Numbers

```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [10]:
for i in range(1,6):
  for j in range (1,i+1):
      print(j, end= ' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Draw a reverse pattern of triangle

In [14]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(j, end= ' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

Draw a triangle pattern with stars

In [24]:
for i in range(1,6):
  for j in range(1,i+1):
      print("*", end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

Draw a reverse triangle pattern

In [23]:
for i in range(6,0,-1):
    for j in range(1,i):
        print('*', end = ' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [44]:
for i in range(1,6):
    for j in range(i+1):
        print('*', end = ' ')
    print()

* *
* * *
* * * *
* * * * *
* * * * * *